.product-detail ul > li{margin-right:25px;font-weight:lighter;cursor:pointer}
.product-detail li.active{border-bottom:3px solid silver;}

.product-detail .item-photo{display:flex;justify-content:center;align-items:center;border-right:1px solid #f6f6f6;}
.product-detail .menu-items{list-style-type:none;font-size:11px;display:inline-flex;margin-bottom:0;margin-top:20px}
.product-detail .btn-success{width:100%;border-radius:0;}
.product-detail .section{width:100%;margin-left:-15px;padding:2px;padding-left:15px;padding-right:15px;background:#f8f9f9}
.product-detail .title-price{margin-top:30px;margin-bottom:0;color:black}
.product-detail .title-attr{margin-top:0;margin-bottom:0;color:black;}
.product-detail .btn-minus{cursor:pointer;font-size:7px;display:flex;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-right:0;}
.product-detail .btn-plus{cursor:pointer;font-size:7px;display:flex;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-left:0;}
.product-detail div.section > div {width:100%;display:inline-flex;}
.product-detail div.section > div > input {margin:0;padding-left:5px;font-size:10px;padding-right:5px;max-width:18%;text-align:center;}
.product-detail .attr,.attr2{cursor:pointer;margin-right:5px;height:20px;font-size:10px;padding:2px;border:1px solid gray;border-radius:2px;}
.product-detail .attr.active,.attr2.active{ border:1px solid orange;}

@media (max-width: 426px) {
  .product-detail .container {margin-top:0px !important;}
  .product-detail .container > .row{padding:0 !important;}
  .product-detail .container > .row > .col-xs-12.col-sm-5{
    padding-right:0 ;
  }
  .product-detail .container > .row > .col-xs-12.col-sm-9 > div > p{
    padding-left:0 !important;
    padding-right:0 !important;
  }
  .product-detail .container > .row > .col-xs-12.col-sm-9 > div > ul{
    padding-left:10px !important;

  }
  .product-detail .section{width:104%;}
  .product-detail .menu-items{padding-left:0;}
}

/* ------- */
.product-detail .variations {
  padding-bottom: 20px;
}
.product-detail .variations legend {
  font-size: 75%;
  font-weight: normal;
  line-height: 1;
  color: #777;
  text-transform: uppercase;
  margin: 0;
  border: none;
}
.product-detail .variations .form-group {
  margin-bottom: 5px;
}
.product-detail .variations .form-required:after {
  display: none;
}
.product-detail .variations .input-group-addon,
.product-detail .variations .form-radio {
  display: none;
}
.product-detail .variations .js-form-type-radio {
  display: inline-block;
  margin: 0;
}
.product-detail .variations label {
  color: #faebd700;
  cursor: pointer;
  margin-right: 5px;
  height: 20px;
  font-size: 10px;
  padding: 2px;
  border: 1px solid gray;
  border-radius: 2px;
  width: 25px;
}
.product-detail .variations label.color-red {
  background-color: red;
}
.product-detail .variations label.color-black {
  background-color: black;
}
.product-detail .variations label.color-blue {
  background-color: blue;
}