{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
<article{{ attributes.addClass('product-detail') }}>
  <div class="row">
    <div class="col-xs-4 item-photo">
      {{ product.field_product_images }}
    </div>
    <div class="col-xs-5" style="border:0px solid gray">
      <h3>{{ product.title }}</h3>

      <h6 class="title-price"><small>{{ 'Price'|trans }}</small></h6>
      <h3 style="margin-top:0px;">{{ product.variation_price }}</h3>

      <div class="section variations">
        {{ product.variations }}
      </div>
    </div>

    <div class="col-xs-9">
      <div style="width:100%;border-top:1px solid silver">
        {{ product.body }}
      </div>
    </div>
  </div>
</article>
